.slider {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sliderLabel {
  display: inline-block;
  width: 150px;
}

.sliderBar {
  //appearance: none;
  width: calc(100% - 150px);
  height: 30px;
  border-radius: 15px;
  //outline: none;
}