$sliderHeight: 20px;
$labelWidth: 150px;

.slider {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sliderLabel {
  display: inline-block;
  width: $labelWidth;
}

.sliderBar {
  width: calc(100% - #{$labelWidth});
  height: $sliderHeight;
  border-radius: $sliderHeight/2;
}